In [76]:
#sys path
from sys import path
from pathlib import Path

module_path = str(Path.cwd().parents[2])

if module_path not in path:
    path.append(module_path)
    
path.append(module_path + '\\functions')


# libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

import pandapower as pp
import pandapower.networks as net
import pandapower.topology as top
import pandapower.plotting as plot
from pandapower.plotting.plotly import simple_plotly
import pandapower.converter
import pandapower.estimation

pd.set_option('display.max_columns', 100)

import julia
julia.install()

import time
import save_outputs

# Power System - case39

In [126]:
net = pandapower.networks.case39()
net

This pandapower network includes the following parameter tables:
   - bus (39 elements)
   - load (21 elements)
   - gen (9 elements)
   - ext_grid (1 element)
   - line (35 elements)
   - trafo (11 elements)
   - poly_cost (10 elements)
   - bus_geodata (39 elements)
 and the following results tables:
   - res_line (35 elements)
   - res_trafo (11 elements)
   - res_ext_grid (1 element)
   - res_load (21 elements)
   - res_gen (9 elements)

In [127]:
net.bus = net.bus.sort_index()
net.bus

    in_service  max_vm_pu  min_vm_pu name type  vn_kv zone
0         True       1.06       0.94    1    b  345.0  2.0
1         True       1.06       0.94    2    b  345.0  2.0
2         True       1.06       0.94    3    b  345.0  2.0
3         True       1.06       0.94    4    b  345.0  1.0
4         True       1.06       0.94    5    b  345.0  1.0
5         True       1.06       0.94    6    b  345.0  1.0
6         True       1.06       0.94    7    b  345.0  1.0
7         True       1.06       0.94    8    b  345.0  1.0
8         True       1.06       0.94    9    b  345.0  1.0
9         True       1.06       0.94   10    b  345.0  1.0
10        True       1.06       0.94   11    b  345.0  1.0
11        True       1.06       0.94   12    b  345.0  1.0
12        True       1.06       0.94   13    b  345.0  1.0
13        True       1.06       0.94   14    b  345.0  1.0
14        True       1.06       0.94   15    b  345.0  3.0
15        True       1.06       0.94   16    b  345.0  3.0
16        True       1.06       0.94   17    b  345.0  2.0
17        True       1.06       0.94   18    b  345.0  2.0
18        True       1.06       0.94   19    b  345.0  3.0
19        True       1.06       0.94   20    b  345.0  3.0
20        True       1.06       0.94   21    b  345.0  3.0
21        True       1.06       0.94   22    b  345.0  3.0
22        True       1.06       0.94   23    b  345.0  3.0
23        True       1.06       0.94   24    b  345.0  3.0
24        True       1.06       0.94   25    b  345.0  2.0
25        True       1.06       0.94   26    b  345.0  2.0
26        True       1.06       0.94   27    b  345.0  2.0
27        True       1.06       0.94   28    b  345.0  3.0
28        True       1.06       0.94   29    b  345.0  3.0
29        True       1.06       0.94   30    b  345.0  2.0
30        True       1.06       0.94   31    b  345.0  1.0
31        True       1.06       0.94   32    b  345.0  1.0
32        True       1.06       0.94   33    b  345.0  3.0
33        True       1.06       0.94   34    b  345.0  3.0
34        True       1.06       0.94   35    b  345.0  3.0
35        True       1.06       0.94   36    b  345.0  3.0
36        True       1.06       0.94   37    b  345.0  2.0
37        True       1.06       0.94   38    b  345.0  3.0
38        True       1.06       0.94   39    b  345.0  1.0

In [128]:
net.load = net.load.sort_index()
net.load

,bus,const_i_percent,const_z_percent,controllable,in_service,name,p_mw,q_mvar,scaling,sn_mva,type
0,0,0.0,0.0,False,True,None,97.60,44.2,1.0,NaN,None
1,2,0.0,0.0,False,True,None,322.00,2.4,1.0,NaN,None
2,3,0.0,0.0,False,True,None,500.00,184.0,1.0,NaN,None
3,6,0.0,0.0,False,True,None,233.80,84.0,1.0,NaN,None
4,7,0.0,0.0,False,True,None,522.00,176.6,1.0,NaN,None
5,8,0.0,0.0,False,True,None,6.50,-66.6,1.0,NaN,None
6,11,0.0,0.0,False,True,None,8.53,88.0,1.0,NaN,None
7,14,0.0,0.0,False,True,None,320.00,153.0,1.0,NaN,None
8,15,0.0,0.0,False,True,None,329.00,32.3,1.0,NaN,None
9,17,0.0,0.0,False,True,None,158.00,30.0,1.0,NaN,None
10,19,0.0,0.0,False,True,None,680.00,103.0,1.0,NaN,None
11,20,0.0,0.0,False,True,None,274.00,115.0,1.0,NaN,None
12,22,0.0,0.0,False,True,None,247.50,84.6,1.0,NaN,None
13,23,0.0,0.0,False,True,None,308.60,-92.2,1.0,NaN,None
14,24,0.0,0.0,False,True,None,224.00,47.2,1.0,NaN,None
15,25,0.0,0.0,False,True,None,139.00,17.0,1.0,NaN,None
16,26,0.0,0.0,False,True,None,281.00,75.5,1.0,NaN,None
17,27,0.0,0.0,False,True,None,206.00,27.6,1.0,NaN,None
18,28,0.0,0.0,False,True,None,283.50,26.9,1.0,NaN,None
19,30,0.0,0.0,False,True,None,9.20,4.6,1.0,NaN,None
20,38,0.0,0.0,False,True,None,1104.00,250.0,1.0,NaN,None

In [129]:
pp.create_sgen(net, bus=1, p_mw=210, q_mvar=70, controllable=False)
pp.create_sgen(net, bus=11, p_mw=210, q_mvar=70, controllable=False)
pp.create_sgen(net, bus=14, p_mw=210, q_mvar=70, controllable=False)
pp.create_sgen(net, bus=21, p_mw=210, q_mvar=70, controllable=False)
pp.create_sgen(net, bus=23, p_mw=210, q_mvar=70, controllable=False)
pp.create_sgen(net, bus=28, p_mw=210, q_mvar=70, controllable=False)

net.sgen

,name,bus,p_mw,q_mvar,sn_mva,scaling,in_service,type,current_source,controllable
0,None,1,210.0,70.0,NaN,1.0,True,None,True,False
1,None,11,210.0,70.0,NaN,1.0,True,None,True,False
2,None,14,210.0,70.0,NaN,1.0,True,None,True,False
3,None,21,210.0,70.0,NaN,1.0,True,None,True,False
4,None,23,210.0,70.0,NaN,1.0,True,None,True,False
5,None,28,210.0,70.0,NaN,1.0,True,None,True,False

In [152]:
net.gen['min_q_mvar'] = [-200, -200, -200, -200, -200, -200, -200, -200, -200]
net.gen['max_q_mvar'] = [600, 600, 600, 600, 600, 600, 600, 600, 600]
net.gen

,bus,controllable,in_service,name,p_mw,scaling,sn_mva,type,vm_pu,slack,max_p_mw,min_p_mw,max_q_mvar,min_q_mvar
0,29,True,True,None,250.0,1.0,NaN,None,1.0499,False,1040.0,0.0,600,-200
1,31,True,True,None,650.0,1.0,NaN,None,0.9841,False,725.0,0.0,600,-200
2,32,True,True,None,632.0,1.0,NaN,None,0.9972,False,652.0,0.0,600,-200
3,33,True,True,None,508.0,1.0,NaN,None,1.0123,False,508.0,0.0,600,-200
4,34,True,True,None,650.0,1.0,NaN,None,1.0494,False,687.0,0.0,600,-200
5,35,True,True,None,560.0,1.0,NaN,None,1.0636,False,580.0,0.0,600,-200
6,36,True,True,None,540.0,1.0,NaN,None,1.0275,False,564.0,0.0,600,-200
7,37,True,True,None,830.0,1.0,NaN,None,1.0265,False,865.0,0.0,600,-200
8,38,True,True,None,1000.0,1.0,NaN,None,1.0300,False,1100.0,0.0,600,-200

In [153]:
net.ext_grid

,bus,in_service,name,va_degree,vm_pu,max_p_mw,min_p_mw,max_q_mvar,min_q_mvar
0,30,True,None,0.0,0.982,646.0,0.0,300.0,-100.0

In [154]:
net.line = net.line.sort_index()
net.line

,c_nf_per_km,df,from_bus,g_us_per_km,in_service,length_km,max_i_ka,max_loading_percent,name,parallel,r_ohm_per_km,std_type,to_bus,type,x_ohm_per_km
0,1557.117675,1.0,0,0.0,True,1.0,1.004087,100.0,None,1,4.165875,None,1,ol,48.919275
1,1671.444477,1.0,0,0.0,True,1.0,1.673479,100.0,None,1,1.190250,None,38,ol,29.756250
2,573.194026,1.0,1,0.0,True,1.0,0.836740,100.0,None,1,1.547325,None,2,ol,17.972775
3,325.374525,1.0,1,0.0,True,1.0,0.836740,100.0,None,1,8.331750,None,24,ol,10.236150
4,493.410410,1.0,2,0.0,True,1.0,0.836740,100.0,None,1,1.547325,None,3,ol,25.352325
5,476.473106,1.0,2,0.0,True,1.0,0.836740,100.0,None,1,1.309275,None,17,ol,15.830325
6,299.077132,1.0,3,0.0,True,1.0,1.004087,100.0,None,1,0.952200,None,4,ol,15.235200
7,307.991502,1.0,3,0.0,True,1.0,0.836740,100.0,None,1,0.952200,None,13,ol,15.354225
8,96.720920,1.0,4,0.0,True,1.0,2.008175,100.0,None,1,0.238050,None,5,ol,3.094650
9,328.940273,1.0,4,0.0,True,1.0,1.506131,100.0,None,1,0.952200,None,7,ol,13.330800
10,251.830968,1.0,5,0.0,True,1.0,1.506131,100.0,None,1,0.714150,None,6,ol,10.950300
11,309.551517,1.0,5,0.0,True,1.0,0.803270,100.0,None,1,0.833175,None,10,ol,9.760050
12,173.830226,1.0,6,0.0,True,1.0,1.506131,100.0,None,1,0.476100,None,7,ol,5.475150
13,847.756639,1.0,7,0.0,True,1.0,1.506131,100.0,None,1,2.737575,None,8,ol,43.206075
14,2674.311163,1.0,8,0.0,True,1.0,1.506131,100.0,None,1,1.190250,None,38,ol,29.756250
15,162.464403,1.0,9,0.0,True,1.0,1.004087,100.0,None,1,0.476100,None,10,ol,5.118075
16,162.464403,1.0,9,0.0,True,1.0,1.004087,100.0,None,1,0.476100,None,12,ol,5.118075
17,383.986511,1.0,12,0.0,True,1.0,1.004087,100.0,None,1,1.071225,None,13,ol,12.021525
18,815.664905,1.0,13,0.0,True,1.0,1.004087,100.0,None,1,2.142450,None,14,ol,25.828425
19,381.089341,1.0,14,0.0,True,1.0,1.004087,100.0,None,1,1.071225,None,15,ol,11.188350
20,299.077132,1.0,15,0.0,True,1.0,1.004087,100.0,None,1,0.833175,None,16,ol,10.593225
21,677.492161,1.0,15,0.0,True,1.0,1.004087,100.0,None,1,1.904400,None,18,ol,23.209875
22,567.845404,1.0,15,0.0,True,1.0,1.004087,100.0,None,1,0.952200,None,20,ol,16.068375
23,151.544299,1.0,15,0.0,True,1.0,1.004087,100.0,None,1,0.357075,None,23,ol,7.022475
24,293.951369,1.0,16,0.0,True,1.0,1.004087,100.0,None,1,0.833175,None,17,ol,9.760050
25,716.715392,1.0,16,0.0,True,1.0,1.004087,100.0,None,1,1.547325,None,26,ol,20.591325
26,571.634011,1.0,20,0.0,True,1.0,1.506131,100.0,None,1,0.952200,None,21,ol,16.663500
27,411.398201,1.0,21,0.0,True,1.0,1.004087,100.0,None,1,0.714150,None,22,ol,11.426400
28,804.521942,1.0,22,0.0,True,1.0,1.004087,100.0,None,1,2.618550,None,23,ol,41.658750
29,0.000000,1.0,22,0.0,True,1.0,1.506131,100.0,None,1,0.595125,None,35,ol,32.374800
30,1183.382690,1.0,24,0.0,True,1.0,1.004087,100.0,None,1,3.808800,None,25,ol,38.445075
31,533.970796,1.0,25,0.0,True,1.0,1.004087,100.0,None,1,1.666350,None,26,ol,17.496675
32,1738.747975,1.0,25,0.0,True,1.0,1.004087,100.0,None,1,5.118075,None,27,ol,56.417850
33,2293.221822,1.0,25,0.0,True,1.0,1.004087,100.0,None,1,6.784425,None,28,ol,74.390625
34,554.919566,1.0,27,0.0,True,1.0,1.004087,100.0,None,1,1.666350,None,28,ol,17.972775

In [155]:
net.trafo = net.trafo.sort_index()
net.trafo

,df,hv_bus,i0_percent,in_service,lv_bus,max_loading_percent,name,parallel,pfe_kw,shift_degree,sn_mva,std_type,tap_max,tap_neutral,tap_min,tap_phase_shifter,tap_pos,tap_side,tap_step_degree,tap_step_percent,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent
0,1.0,1,0.0,True,29,100.0,None,1,0.0,0.0,900.0,None,NaN,0,NaN,False,1,hv,NaN,2.5,345.0,345.0,16.290000,0.00
1,1.0,5,0.0,True,30,100.0,None,1,0.0,0.0,1800.0,None,NaN,0,NaN,False,1,hv,NaN,7.0,345.0,345.0,45.000000,0.00
2,1.0,9,0.0,True,31,100.0,None,1,0.0,0.0,900.0,None,NaN,0,NaN,False,1,hv,NaN,7.0,345.0,345.0,18.000000,0.00
3,1.0,11,0.0,True,10,100.0,None,1,0.0,0.0,500.0,None,NaN,0,NaN,False,1,hv,NaN,0.6,345.0,345.0,21.764708,0.80
4,1.0,11,0.0,True,12,100.0,None,1,0.0,0.0,500.0,None,NaN,0,NaN,False,1,hv,NaN,0.6,345.0,345.0,21.764708,0.80
5,1.0,18,0.0,True,19,100.0,None,1,0.0,0.0,900.0,None,NaN,0,NaN,False,1,hv,NaN,6.0,345.0,345.0,12.435968,0.63
6,1.0,18,0.0,True,32,100.0,None,1,0.0,0.0,900.0,None,NaN,0,NaN,False,1,hv,NaN,7.0,345.0,345.0,12.795519,0.63
7,1.0,19,0.0,True,33,100.0,None,1,0.0,0.0,900.0,None,NaN,0,NaN,False,1,hv,NaN,0.9,345.0,345.0,16.220237,0.81
8,1.0,21,0.0,True,34,100.0,None,1,0.0,0.0,900.0,None,NaN,0,NaN,False,1,hv,NaN,2.5,345.0,345.0,12.870000,0.00
9,1.0,24,0.0,True,36,100.0,None,1,0.0,0.0,900.0,None,NaN,0,NaN,False,1,hv,NaN,2.5,345.0,345.0,20.886982,0.54
10,1.0,28,0.0,True,37,100.0,None,1,0.0,0.0,1200.0,None,NaN,0,NaN,False,1,hv,NaN,2.5,345.0,345.0,18.744599,0.96

In [156]:
net.poly_cost

,element,et,cp0_eur,cp1_eur_per_mw,cp2_eur_per_mw2,cq0_eur,cq1_eur_per_mvar,cq2_eur_per_mvar2
0,0.0,gen,0.2,0.3,0.01,0.0,0.0,0.0
1,0.0,ext_grid,0.2,0.3,0.01,0.0,0.0,0.0
2,1.0,gen,0.2,0.3,0.01,0.0,0.0,0.0
3,2.0,gen,0.2,0.3,0.01,0.0,0.0,0.0
4,3.0,gen,0.2,0.3,0.01,0.0,0.0,0.0
5,4.0,gen,0.2,0.3,0.01,0.0,0.0,0.0
6,5.0,gen,0.2,0.3,0.01,0.0,0.0,0.0
7,6.0,gen,0.2,0.3,0.01,0.0,0.0,0.0
8,7.0,gen,0.2,0.3,0.01,0.0,0.0,0.0
9,8.0,gen,0.2,0.3,0.01,0.0,0.0,0.0

In [157]:
net.bus_geodata = net.bus_geodata.sort_index()
net.bus_geodata['x'] = pd.Series([-4,-3,-3,-3,-4,-4,-5,-5,-5,-2,-3,-2,-1,-1,-1,1,-1,-2,2,0,3,4,4,3,-2,0,0,2,4,-3,-4,-2,2,0,5,4,-2,4,-5])
net.bus_geodata['y'] = pd.Series([1,2,0,-1,-2,-5,-4,-3,-2,-4,-3,-2,-3,-1,0,1,1,1,-3,-4,1,-1,-5,-2,3,3,2,3,3,4,-6,-6,-6,-6,-1,-6,4,1,0])
net.bus_geodata

    x  y coords
0  -4  1   None
1  -3  2   None
2  -3  0   None
3  -3 -1   None
4  -4 -2   None
5  -4 -5   None
6  -5 -4   None
7  -5 -3   None
8  -5 -2   None
9  -2 -4   None
10 -3 -3   None
11 -2 -2   None
12 -1 -3   None
13 -1 -1   None
14 -1  0   None
15  1  1   None
16 -1  1   None
17 -2  1   None
18  2 -3   None
19  0 -4   None
20  3  1   None
21  4 -1   None
22  4 -5   None
23  3 -2   None
24 -2  3   None
25  0  3   None
26  0  2   None
27  2  3   None
28  4  3   None
29 -3  4   None
30 -4 -6   None
31 -2 -6   None
32  2 -6   None
33  0 -6   None
34  5 -1   None
35  4 -6   None
36 -2  4   None
37  4  1   None
38 -5  0   None

# OPF

In [159]:
input_dict = save_outputs.load_model('inputs\IEEE39_TA1')

x_d = np.array(input_dict['xd'])
xd_std = np.array(input_dict['xd_std'])
u = np.array(input_dict['u'])
alpha = np.array(input_dict['alpha'])

In [160]:
X_d = x_d
Xd_std = xd_std
P_cont = u

In [161]:
X_d.shape, Xd_std.shape, P_cont.shape, alpha.shape

((1, 27), (1, 27), (1, 10), (1, 10))

In [162]:
n_loads=21

# Load base
L_P_base = net.load['p_mw']
L_Q_base = net.load['q_mvar']

# RS base
RS_P_base = net.sgen['p_mw']
RS_Q_base = net.sgen['q_mvar']

# Load factor
faktor_load = L_Q_base/L_P_base
# RS factor
faktor_rs = RS_Q_base/RS_P_base

sum_base = np.sum(L_P_base) - np.sum(RS_P_base)

In [172]:
Pg_0 = []
Pg_1 = []
Pg_2 = []
Pg_3 = []
Pg_4 = []
Pg_5 = []
Pg_6 = []
Pg_7 = []
Pg_8 = []
Pg_9 = []

np.random.seed(123)

count = P_cont.shape[0]

t = -time.time()
t2 = 0
for j in range(count):
    P_rand = []
    n_sim=100
    
    for k in range(X_d.shape[1]):
        rand = np.random.normal(X_d[j, k], Xd_std[j, k], n_sim).tolist()
        P_rand.append(rand)
        
    P_rand = np.array(P_rand)

    for i in range(n_sim):
        net.load['p_mw'] = pd.Series(P_rand[:21, i])
        net.sgen['p_mw'] = pd.Series(P_rand[21:, i])
        
        
        net.load['q_mvar'] = pd.Series(net.load['p_mw'] * faktor_load)
        net.sgen['q_mvar'] = pd.Series(net.sgen['p_mw'] * faktor_rs)
        
        t1 = -time.time()
        pp.runopp(net, verbose=False)
        t1 += time.time()
        
        t2 += t1 

        Pg_0.append(net.res_ext_grid['p_mw'][0])
        Pg_1.append(net.res_gen['p_mw'][0])
        Pg_2.append(net.res_gen['p_mw'][1])
        Pg_3.append(net.res_gen['p_mw'][2])
        Pg_4.append(net.res_gen['p_mw'][3])
        Pg_5.append(net.res_gen['p_mw'][4])
        Pg_6.append(net.res_gen['p_mw'][5])
        Pg_7.append(net.res_gen['p_mw'][6])
        Pg_8.append(net.res_gen['p_mw'][7])
        Pg_9.append(net.res_gen['p_mw'][8])

            
t += time.time()
print('Time:', t)
print('Time of solver:', t2)

Time: 112.76136016845703
Time of solver: 112.48735356330872

In [173]:
Pg_0_mean = np.array(Pg_0).mean()
Pg_1_mean = np.array(Pg_1).mean()
Pg_2_mean = np.array(Pg_2).mean()
Pg_3_mean = np.array(Pg_3).mean()
Pg_4_mean = np.array(Pg_4).mean()
Pg_5_mean = np.array(Pg_5).mean()
Pg_6_mean = np.array(Pg_6).mean()
Pg_7_mean = np.array(Pg_7).mean()
Pg_8_mean = np.array(Pg_8).mean()
Pg_9_mean = np.array(Pg_9).mean()

print('Pg0:', Pg_0_mean)
print('Pg1:', Pg_1_mean)
print('Pg2:', Pg_2_mean)
print('Pg3:', Pg_3_mean)
print('Pg4:', Pg_4_mean)
print('Pg5:', Pg_5_mean)
print('Pg6:', Pg_6_mean)
print('Pg7:', Pg_7_mean)
print('Pg8:', Pg_8_mean)
print('Pg9:', Pg_9_mean)

Pg0: 531.7211266229435
Pg1: 510.4382645052837
Pg2: 482.1219953907228
Pg3: 495.124002887521
Pg4: 490.0096142944382
Pg5: 495.7218976373372
Pg6: 493.8083915522745
Pg7: 496.8530853569137
Pg8: 493.8408745597236
Pg9: 538.3826735918434